<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h2>Dodaj nowy artykuł</h2>

        <% if(errors && errors.length > 0) { %>
            <div class="errors">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>

        <form action="/articles" method="POST">
                <label for="title">Tytuł:</label>
                <input type="text" id="title" name="title" value="<%= values.title %>" ><br>
                <label for="author">Autor:</label>
                <input type="text" id="author" name="author" value="<%= values.author %>" ><br>
                <label for="content">Treść:</label>
                <textarea id="content" name="content" rows="10" > <%= values.content %></textarea><br>
            <button type="submit">Dodaj artykuł</button>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>